extends ../layout
block content
  #content
    #service_content
      .container
        .unit
          .col-md-9
            .new_content
              each item in blogs
                .news_block
                  a(href="/blog/article?id="+ item._id)
                    h2 #{item.title}
                  article 
                    p   #{item.intro}
              ul.pagination
                 - for (var i = 0; i < totalPage; i++) {
                    - if (currentPage == (i + 1)) {
                        li.active
                          span #{currentPage}
                    - }
                    - else {
                        li
                          a(href='/blog?p=#{i}') #{i + 1}
                    - }
                  - }
          .col-md-3
            .sidebar_right
              .sidebar_block
                .category
                  h3 文章分类
                  ul
                    li: a 公司新闻
                    li: a 财务资讯
                    li: a 注册制度
              .sidebar_block
                .category
                  h3 近期新闻
                  ul
                    li: a 嘉兴盛驰推出网络事业部门嘉兴盛驰推出网络事业部门
                    li: a 嘉兴盛驰推出网络事业部门
                    li: a 嘉兴盛驰推出网络事业部门
          .clearfix
      .extra-border-element
        .extra-border-inner.back_white
            
